body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}
.babyshark {
  background-image: url("images/babyshark.jpg");
}

.bellaCiao {
  background-image: url("images/bellaCiao.jpg");
}

.bumbum {
  background-image: url("images/bumbum.jpg");
}

.danceMonkey {
  background-image: url("images/danceMonkey.jpg");
}

.ramsam {
  background-image: url("images/ramsam.jpg");
}

.skidamarink {
  background-image: url("images/skidamarink.jpg");
}

.happyBirthday {
  background-image: url("images/happyBirthday.jpg");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 1;
  font-size: 1px;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: bottom;
  margin: 10px;
  background-color: white;
}
